
html, body {
    overflow: hidden;
    margin: 0;
}

body {
      background-color: #101010;
        color: #ffffff;
}
button {
      background-color: #101010;
      color: #ffffff;
}
audio {
      background-color: #101010;
      color: #ffffff;
}

.wrapper {
}
.PlayControls {
    float: right;
    width: 30%;
    overflow: auto;
    height: 100%;
}

.WordList {
    float: left;
    width: 68%;
    overflow: scroll;
    height: 100%;
}



