
body {
      background-color: #101010;
        color: #ffffff;
}
button {
      background-color: #101010;
      color: #ffffff;
}
audio {
      background-color: #101010;
      color: #ffffff;
}


